*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.corpo{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

header{
    height: 10vh;
    padding-top: 20px;
}

main{
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

footer{
    height: 10vh;
}

div{
    display: flex;
    justify-content: center;
    gap: 20px;
}

p{
    font-size: 2rem;
}