.flex-container{
    display: flex;
    gap: 10px;
    height: 100vh;
    justify-content: center;
    align-items: flex-start;


}

.flex-item{
    background-color: lightblue;
    padding: 20px;
    width: 100px;
}
