body{
    background-color: red;
}

@media (max-width: 450px) {
    body {
        background-color: yellow;
    }
}

@media (orientation: landscape) {
    body{
        background-color: pink;
    }
}