.button{
    padding: 0.9rem 1.2rem;
    margin: 0.3rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

.button:hover{
    background-color: rgb(48, 100, 255);
    transform: scale(1.05);
}

.default{
    background-color: aqua;
}

.sucess{
    background-color: rgb(0, 255, 68);
}

.danger{
    background-color: rgb(240, 48, 0);
}