main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

section{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px dashed black;
    width: 300px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.171);
    padding: 10px;
}

section:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}

h1{
    text-align: center;
}