* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    justify-content: center;
    height: 100vh;
    font-family: "Quicksand", sans-serif;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin: 10px;
    border: 1px solid black;
}

p{
    margin-block: 10px;
}

ul{
    line-height: 2rem;
    margin-inline: 20px;
}

h4{
    color: #0265CB;
}

footer{
    text-align: center;
}

.caixa-direita h3{
    color: #fab0b3;
}

.caixa-esquerda h3{
    text-align: center;
    margin-block: 10px;
    color: #0265CB;
}

.caixa{
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 700px;
    width: 800px;
}

.caixa-esquerda{
    display: grid;
    border: 2px dashed #0265CB;
    border-radius:  40px 0 0 40px; 
    grid-template-columns: 1fr;
    padding: 20px;
    line-height: 1rem;
    align-content: start;
    gap: 20px;
    color: white;
    background-color: #fab0b3;
}

.perfil{
    text-align: center;
}

.caixa-direita{
    padding: 20px;
    border: 2px solid #fab0b3;
    border-radius:  4px 40px 40px 0px; 
}