:root {
    --cor-principal: #970A07;
    --cor-secundaria: white;
    --cor-final: black;

    --texto-principal: 1rem;
    --texto-maior: 1.5rem;

    --espacamento-base: 1.25rem;

    --raio: .625rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: var(--texto-principal);
    font-family: "Alan Sans", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: var(--espacamento-base);
    color: var(--cor-principal);
    width: 80%;
}

main {
    display: flex;
    border: 1px solid black;
    width: 80%;
    gap: var(--espacamento-base);
    flex-wrap: wrap;
    background-color: var(--cor-principal);
    justify-content: center;
    padding-block: var(--espacamento-base);
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--cor-secundaria);
    background-color: rgba(0, 0, 0, 80%);
    padding: var(--espacamento-base);
    border: 1px solid white;
    border-radius: var(--raio);
    width: 25rem;
}

section:hover {
    width: 28.125rem;
    background-color: white;
    color: black;
    border: 3px dashed black;
}

aside {
    display: flex;
    justify-content: center;
    padding: var(--espacamento-base);
    width: 80%;
    background-color: white;
}

aside a {
    background-color: white;
}

footer {
    width: 80%;
    padding: var(--espacamento-base);
    text-align: center;
    color: var(--cor-secundaria);
    background-color: rgb(0, 0, 0);
}

img {
    border-radius: var(--raio);
    width: 5rem;
    border: 1px solid white;
}

section img {
    height: 500px;
    width: 300px;
    border-radius: 0;
    border: 1px solid white;
}

h2 {
    margin: .625rem;
}

li {
    display: inline;
    margin-inline: 1.25rem;
}

a {
    text-decoration: none;
    padding: .625rem;
    border-radius: var(--raio);
    background-color: var(--cor-secundaria);
    color: var(--cor-principal);
}

a:hover {
    color: var(--cor-secundaria);
    background-color: var(--cor-principal);
}