div{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.tela{
    position: absolute;
    
}