body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color:rgb(255, 255, 255);
    color: #008cff;
}

div{
    height: 50vh;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #008cff;
}

label{
    background-color: white;
    border-radius: 20px;
    border: 3px dashed #008cff;
    padding: 10px;
}

input{
    width: 200px;
    height: 100px;
    font-size: 50px;
    text-align: center;
    border-radius: 20px;
    color: tomato;
    border: 3px dashed #008cff;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 20px;
    background-color: #008cff;
    border: 3px dashed white;
}

p{
    background-color: white;
    border-radius: 30px;
    border: 3px dashed #008cff;
    padding: 20px;
}

select{
    width: 200px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    border-radius: 20px;
    color: tomato;
    border: 3px dashed #008cff;
}